<div ng-controller="DashboardController">
  <div>
    <!--header-->
    <button ng-click="logout()">Logout</button>
  </div>
  <div>
    <!--constructor-->
    <input type="text" ng-model="advertisingContent"/>
    <button ng-click="saveAdvertisingContent()">Add advertising</button>

    <div ng-repeat="item in advertising track by $index">
      {{ $index+1 }}. {{ item.content }}
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <div>
    <!--groups-->

    <div ng-if="!groups.length">
      Group list is empty
    </div>
    <button ng-click="addPublic()">Add public</button>

    <div ng-repeat="group in groups track by $index">
      <input type="checkbox" ng-model="group.hasAdvertising">
      {{ group.name }}
    </div>

    <button ng-click="setupPublicGroup()">Setup public</button>
  </div>
</div>
